h1 {
  text-align: center;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#containerA {
  display:flex;
}

#a {
  text-align: center;
  margin-top: 30px;
  width: 480px;
  height: 75px;
  line-height: 75px;
}

#containerB {
  display:flex;
  flex-direction: column;
  width: 200px;
}

#b {
  width: 480px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

#containerAll {
  display: flex;
  display: row;
  flex-wrap: wrap;
  width: 480px;
}

#c {
  width: 480px;
  height: 125px;
  line-height: 125px;
  text-align: center;
}

#d {
  width: 480px;
  height: 125px;
  line-height: 125px;
  text-align: center;
}

#e, #f, #g, #h {
  width: 240px;
  height: 250px;
  line-height: 250px;
  text-align: center;
}

#i {
  clear: both;
  width: 480px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

/* Desktop */
@media (min-width: 767px){
  
  
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #containerA {
    display:flex;
  }

  #a {
    margin-top: 30px;
    height: 100px;
    width: 960px;
  }
  
  #containerB {
    display:flex;
    flex-direction: column;
    width: 200px;
  }
  
  #b {
    width: 200px;
    height: 600px;
    order: 2;
  }
  
  #containerAll {
    display: flex;
    display: row;
    flex-wrap: wrap;
    width: 760px;
  }

  #c, #d {
    width: 380px;
    height: 200px;
  }
  
  #e, #f, #g, #h {
    width: 190px;
    height: 250px;
  }
  
  #i {
    width: 760px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
}